body{
    margin: 10px;
    overflow: hidden;
}
.container{
    border: 2px solid black;
    height: 300px;
    overflow-y: scroll;
    font-size: 20px;
}
.spinner{
    width: 50px;
    height: 50px;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    margin: 10px;
    position: absolute;
    right: 10px;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
  